{%extends 'base.html' %}

{% block content %}

<h1 class="text-3xl font-bold underline">
      Para agregar un nuevo producto, completa el siguiente formulario:
</h1>

<form action="{% url 'add_product' %}" method="post" class="mx-auto max-w-md space-y-4 rounded-lg border border-gray-300 bg-gray-100 p-6">
  <div>
    <label class="block text-sm font-medium text-gray-900" for="name">{{form.name}}</label>

    <input class="mt-1 w-full rounded-lg border-gray-300 focus:border-indigo-500 focus:outline-none" id="name" type="text" placeholder="Product name">
  </div>

  <div>
    <label class="block text-sm font-medium text-gray-900" for="description">{{form.description}}</label>

    <input class="mt-1 w-full rounded-lg border-gray-300 focus:border-indigo-500 focus:outline-none" id="description" type="text" placeholder="Product description">
  </div>

  <div>
    <label class="block text-sm font-medium text-gray-900" for="price">{{form.price.label}}</label>

    <input class="mt-1 w-full rounded-lg border-gray-300 focus:border-indigo-500 focus:outline-none" id="price" type="number" placeholder="Product price">
  </div>

  <button class="block w-full rounded-lg border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white transition-colors hover:bg-transparent hover:text-indigo-600" type="submit">
    Send Message
  </button>
</form>

<form action="{% url 'add_product' %}", method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Guardar</button>
</form>

{% endblock content %}